<button class="btn btn-default" type="submit"
        (click)="back()">Back</button>
<h1 class="text-center">Edit Education Details</h1>
<br>
<form (ngSubmit)="editEducation()" [formGroup]="editEducationForm">
  <table class="center">
    <tr>
      <th><label>Organization Name</label></th>
      <td><input type="text" class="form-control"  id="school" formControlName="school">
        <span class="text-danger" *ngIf="!editEducationForm.get('school')?.valid && editEducationForm.get('school')?.touched">Enter valid data</span>
      </td>
    </tr>
    <br>
    <tr>
      <th><label>Degree:</label></th>
      <td><input type="text" class="form-control"  id="degree" formControlName="degree">
        <span class="text-danger" *ngIf="!editEducationForm.get('firstName')?.valid && editEducationForm.get('firstName')?.touched">Enter valid data</span>
      </td>
    </tr>
    <br>
    <tr>
      <th><label>Field of Study:</label></th>
      <td><input type="text" class="form-control"  id="fieldOfStudy" formControlName="fieldOfStudy">
        <span class="text-danger" *ngIf="!editEducationForm.get('fieldOfStudy')?.valid && editEducationForm.get('fieldOfStudy')?.touched">Enter valid data</span>
      </td>
      <br>
    <tr>
      <th><label>Start date<p>(in dd/mm/yyyy format):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></label></th>
      <td><input type="date" class="form-control"  id="start" formControlName="start">
        <span class="text-danger" *ngIf="!editEducationForm.get('start')?.valid && editEducationForm.get('start')?.touched">Enter valid data</span>
      </td>
    </tr>
    <br>
    <tr>
      <th><label>End Date<p>(in dd/mm/yyyy format):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></label></th>
      <td><input type="date" class="form-control"  id="stop" formControlName="stop">
        <span class="text-danger" *ngIf="!editEducationForm.get('stop')?.valid && editEducationForm.get('stop')?.touched">Enter valid data</span>
      </td>
    </tr>
    <br>
    <tr>
      <th><label>Grade:</label></th>
      <td><input type="text" class="form-control"  id="grade" formControlName="grade">
        <span class="text-danger" *ngIf="!editEducationForm.get('grade')?.valid && editEducationForm.get('grade')?.touched">Enter valid data</span>
      </td>
    </tr>

  </table>
  <br>
  <div class="text-center">
    <button
      class="btn btn-primary" type="submit"
      [disabled]="!editEducationForm.valid">Submit</button>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button
  class="btn btn-danger" type="submit"
  (click)="deleteEducation()">Delete</button>
</div>

</form>
