<button
class="btn btn-group" type="submit"
(click)="back()">Back</button>

<h1 class="text-center">Registration</h1>
<br>
<form>
  <table class="center">
    <tr>
    <th><label>First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></th>
  <td><input type="text" class="form-control"   [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
    <th><label>Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></th>
  <td><input type="text" class="form-control"  [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
    <tr>
      <th><label>Head Line:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="headLine" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
      <th><label>Mail ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="mailId" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
      <th><label>Date of Birth<p>(in dd/mm/yyyy format):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></label></th>
      <td> <input type="text" class="form-control"  [(ngModel)]="dob" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
    <tr>
      <th> <label>Gender:</label></th>
      <td><input type="radio" name="sex" value="m" checked [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="sex" value="f" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">Female</td>
    </tr>
    <br>
    <tr>
      <th><label>Address:</label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="address" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>

    <tr>
    <th><label>Phone Number:</label></th>
    <td><input type="text" class="form-control"  [(ngModel)]="phoneNo" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
  <tr>
    <th>
      <label>Username:</label>
    </th>
    <td>
      <input type="text" class="form-control"  [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
    </td>
  </tr>
    <br>
    <tr>
      <th> <label>Enter Password:</label></th>
      <td> <input type="password" class="form-control"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
    <tr>
      <th><label>Confirm Password:</label></th>
      <td><input type="password" class="form-control"  [(ngModel)]='cPassword' [ngModelOptions]="{standalone: true}"></td>
    </tr>
</table>

<div class="text-center">
  <div *ngIf="password!=cPassword"><p class="text-danger">passwords didn't match</p></div>
  <br>
  <div *ngIf="password==cPassword">
  <button
    class="btn btn-primary" type="submit"
    (click)="addUser()">Register</button>
  </div>
</div>
</form>
