<form>
  <label>First Name:</label>
  <input type="text" class="form-control" [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}">
  <label>Last Name:</label>
  <input type="text" class="form-control" [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}">
  <label>Head Line:</label>
  <input type="text" class="form-control" [(ngModel)]="headLine" [ngModelOptions]="{standalone: true}">
  <label>Mail ID:</label>
  <input type="text" class="form-control"  [(ngModel)]="mailId" [ngModelOptions]="{standalone: true}">
  <label>Date of Birth(in dd/mm/yyyy format):</label>
  <input type="text" class="form-control" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}">
  <label>Gender:</label>
  <br>
  <input type="radio" name="sex" value="m" checked [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">Male
  <br>

  <input type="radio" name="sex" value="f" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}">Female
  <br>
  <label>Address:</label>
  <input type="text" class="form-control" [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
  <label>Phone Number:</label>
  <input type="text" class="form-control" [(ngModel)]="phoneNo" [ngModelOptions]="{standalone: true}">
  <label>Username:</label>
  <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
  <label>Enter Password:</label>
  <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  <label>Confirm Password:</label>
  <input type="password" class="form-control" [(ngModel)]='cPassword' [ngModelOptions]="{standalone: true}">
  <div *ngIf="password!=cPassword">passwords didn't match</div>
  <br>
  <div *ngIf="password==cPassword">
  <button
    class="btn btn-primary" type="submit"
    (click)="addUser()">Register</button>
  </div>
</form>
