
<div class=" panel panel-default">
  <div class="panel panel-heading">

    <h1 class="text-center">Experience Details</h1>
    <div class="text-right">
      <button class="btn-circle"
              (click)="addExperience()">+
      </button>
    </div>
  </div>
  <div  *ngFor="let experience of ExperienceList">
    <div class="panel panel-body">

      <h2>{{experience.title}} ({{experience.headline}})</h2>
      <h3>{{experience.companyName}},{{experience.location}}</h3>

      <p>{{experience.start}} - {{experience.stop}}</p>

      <div class="text-right">
        <button class="btn btn-circle"
                (click)="editDetails(experience)"><img src="https://w7.pngwing.com/pngs/766/581/png-transparent-computer-icons-editing-others.png" width="30" height="25">
        </button>
      </div>
    </div>
  </div>
</div>
