<form>
  <label>Skill Name:</label>
  <input type="text" class="form-control" required [(ngModel)]="s.skill" [ngModelOptions]="{standalone: true}" #name="ngModel">
  <div *ngIf="name.errors?.['required']">
    <p class="text-danger"> skill is required.</p>
  </div>
  <div *ngIf="!(name.errors?.['required'])">
  <button
    class="btn btn-primary" type="submit"
    (click)="editSkill()">submit</button>
  </div>
  <button
    class="btn btn-danger" type="submit"
    (click)="deleteSkill()">Delete</button>
</form>
