<h1 class="text-center">Edit Skill Details</h1>
<form>
  <table class="center">
    <tr>
      <th><label>Skill Name:
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></th>
      <th><input type="text" class="form-control" required [(ngModel)]="s.skill" [ngModelOptions]="{standalone: true}" #name="ngModel"></th>
  </tr>
  </table>
<br>
  <div class="text-center" type="submit">
    <button class="btn btn-primary"
      (click)="editSkill()">Submit
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger"
              (click)="deleteSkill()">Delete
      </button>
  </div>
</form>
