<h1 class="text-center" >Welcome To LinkedIn</h1>
<br>
<form (ngSubmit)="checkDetails()" [formGroup]="loginForm">
  <div *ngIf="notValidCredentials==1">
    <div class="text-center">
      <p class="text-danger">Invalid Credentials</p>
    </div>
  </div>
  <div *ngIf="check==1">
    <div class="text-center">
      <p class="text-success">Account successfully created</p>
    </div>
  </div>
  <div class="form-group">
  <table class="center">
    <tr>
      <td>
        <label>Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      </td>
      <td>
        <input type="text" id="username" formControlName="username" class="form-control">
        <span class="text-danger" *ngIf="loginForm.get('username')?.touched && !loginForm.get('username')?.valid">Please enter valid data</span>
      </td>
    </tr>
    <br>
    <tr>
      <td>
        <label>Password:</label>
      <td>
        <input type="password"  id="password" formControlName="password" class="form-control">
        <span class="text-danger" *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid">Please enter valid data</span>
      </td>
    </tr>
  </table>
  <br>
  <div class="text-center">
    <button
      class="btn btn-primary" type="submit"
      >login</button>
    <br>
    <p>(or)</p>
    <p>To create new account
      <a href="/register">Register</a></p>
  </div>
  </div>
</form>
