<form>
  <label>Title:</label>
  <input type="text" class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
  <label>Company Name:</label>
  <input type="text" class="form-control" [(ngModel)]="companyName" [ngModelOptions]="{standalone: true}">
  <label>location:</label>
  <input type="text" class="form-control" [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
  <label>Start date( in dd/mm/yyyy format):</label>
  <input type="text" class="form-control"  [(ngModel)]="start" [ngModelOptions]="{standalone: true}">
  <label>End Date(in dd/mm/yyyy format):</label>
  <input type="text" class="form-control" [(ngModel)]="stop" [ngModelOptions]="{standalone: true}">
  <label>headline:</label>
  <input type="text" class="form-control" [(ngModel)]="headline" [ngModelOptions]="{standalone: true}">

  <button
    class="btn btn-primary" type="submit"
    (click)="addExperience()">submit</button>
</form>
