<h1 class="text-center">Edit Profile Details</h1>
<br>

<form>
  <table class="center">
    <tr>
      <th><label>First Name:</label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
    <th><label>Last Name:</label></th>
  <td><input type="text" class="form-control"  [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
  <th><label>Head Line:</label></th>
  <td><input type="text" class="form-control"  [(ngModel)]="user.headLine" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
    <tr>
    <th><label>Mail ID:</label></th>
    <td><input type="text" class="form-control"  [(ngModel)]="user.mailId" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
    <th><label>Date of Birth<p>(in dd/mm/yyyy format):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></label></th>
    <td><input type="text" class="form-control"  [(ngModel)]="user.dob" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
    <th><label>Gender:</label></th>
    <td><input type="radio" name="sex" value="m" checked [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}">Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="sex" value="f" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}">Female</td>
    </tr>
    <br>
    <tr>
  <th><label>Address:</label></th>
  <td><input type="text" class="form-control"  [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
    <th><label>Phone Number:</label></th>
  <td><input type="text" class="form-control"   [(ngModel)]="user.phoneNo" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
  </table>
  <br>

  <div class="text-center">
    <button
      class="btn btn-primary" type="submit"
      (click)="editProfile()">Submit</button>
  </div>

</form>
