
<form>
  <label>Organization Name:</label>
  <input type="text" class="form-control" required [(ngModel)]="school" [ngModelOptions]="{standalone: true}" #name="ngModel">
  <label>Degree:</label>
  <input type="text" class="form-control" required [(ngModel)]="degree" [ngModelOptions]="{standalone: true}" #name="ngModel">
  <label>Field of Study:</label>
  <input type="text" class="form-control" required [(ngModel)]="fieldOfStudy" [ngModelOptions]="{standalone: true}" #name="ngModel">
  <label>Start date( in dd/mm/yyyy format):</label>
  <input type="text" class="form-control"  [(ngModel)]="start" [ngModelOptions]="{standalone: true}" >
  <label>End Date(in dd/mm/yyyy format):</label>
  <input type="text" class="form-control"  [(ngModel)]="stop" [ngModelOptions]="{standalone: true}" >
  <label>Grade:</label>
  <br>
  <input type="text" class="form-control"  [(ngModel)]="grade" [ngModelOptions]="{standalone: true}" >
  <br>

  <button
    class="btn btn-primary" type="submit"
    (click)="addEducation()">submit</button>
</form>
