<h1 class="text-center">Edit Experience Details</h1>
<br>
<form>
  <table class="center">
  <tr>
    <th><label>Title:</label></th>
    <td><input type="text" class="form-control"  [(ngModel)]="exp.title" [ngModelOptions]="{standalone: true}"></td>
  </tr>
    <br>
    <tr>
      <th><label>Company Name:</label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="exp.companyName" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
    <tr>
      <th><label>Location:</label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="exp.location" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
      <th><label>Start date<p>(in dd/mm/yyyy format):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="exp.start" [ngModelOptions]="{standalone: true}" ></td>
    </tr>
    <br>
    <tr>
      <th><label>End Date<p>(in dd/mm/yyyy format):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></label></th>
      <td><input type="text" class="form-control"  [(ngModel)]="exp.stop" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <br>
    <tr>
      <th><label>Headline:</label></th>
      <td><input type="text" class="form-control"   [(ngModel)]="exp.headline" [ngModelOptions]="{standalone: true}"></td>
    </tr>

  </table>
  <br>
  <div class="text-center">
  <button
    class="btn btn-primary" type="submit"
    (click)="editExperience()">submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button
    class="btn btn-danger" type="submit"
    (click)="deleteExperience()">Delete</button>
  </div>
</form>
